<div class="nav">
    <h3 class="nav-title">Menu</h3>
    <a href="#" class="nav-close">
        <span class="hidden">Close</span>
    </a>
    <ul>
        <li class="nav-home {% if page.current == 'home' %} nav-current{% endif %}" role="presentation"><a href="{{ site.baseurl }}">Home</a></li>
        <!--
        <li class="nav-about {% if page.current == 'about' %} nav-current{% endif %}" role="presentation"><a href="{{ site.baseurl }}about">About</a></li>
        -->
        <li class="nav-java {% if page.url contains 'java' %} nav-current{% endif %}" role="presentation"><a href="{{ site.baseurl }}tag/java">Java</a></li>
        <li class="nav-life {% if page.url contains 'life' %} nav-current{% endif %}" role="presentation"><a href="{{ site.baseurl }}tag/life">Life</a></li>
        <li class="nav-mac {% if page.url contains 'mac' %} nav-current{% endif %}" role="presentation"><a href="{{ site.baseurl }}tag/mac">Mac</a></li>
        <li class="nav-merchant-marine {% if page.url contains 'merchant-marine' %} nav-current{% endif %}" role="presentation"><a href="{{ site.baseurl }}tag/merchant-marine">Merchant Marine</a></li>
        <li class="nav-military {% if page.url contains 'military' %} nav-current{% endif %}" role="presentation"><a href="{{ site.baseurl }}tag/military">Military</a></li>
        <li class="nav-national-security {% if page.url contains 'national-security' %} nav-current{% endif %}" role="presentation"><a href="{{ site.baseurl }}tag/national-security">National Security</a></li>
        <li class="nav-sailing {% if page.url contains 'sailing' %} nav-current{% endif %}" role="presentation"><a href="{{ site.baseurl }}tag/sailing">Sailing</a></li>
        <li class="nav-unix {% if page.url contains 'unix' %} nav-current{% endif %}" role="presentation"><a href="{{ site.baseurl }}tag/unix">UNIX</a></li>
        <li class="nav-web {% if page.url contains 'web' %} nav-current{% endif %}" role="presentation"><a href="{{ site.baseurl }}tag/web">Web</a></li>
        <li class="nav-yoga {% if page.url contains 'yoga' %} nav-current{% endif %}" role="presentation"><a href="{{ site.baseurl }}tag/yoga">Yoga</a></li>
        <li class="nav-author {% if page.url contains 'jyeary' %} nav-current{% endif %}" role="presentation"><a href="{{ site.baseurl }}author/jyeary">John Yeary</a></li>
        <!--
        <li class="nav-speeches {% if page.url contains 'speeches' %} nav-current{% endif %}" role="presentation"><a href="{{ site.baseurl }}tag/speeches">Speeches</a></li>
        <li class="nav-fiction {% if page.url contains 'fiction' %} nav-current{% endif %}" role="presentation"><a href="{{ site.baseurl }}tag/fiction">Fiction</a></li>
        <li class="nav-author {% if page.url contains 'casper' %} nav-current{% endif %}" role="presentation"><a href="{{ site.baseurl }}author/casper">Casper</a></li>
        <li class="nav-author {% if page.url contains 'edgar' %} nav-current{% endif %}" role="presentation"><a href="{{ site.baseurl }}author/edgar">Edgar</a></li>
        <li class="nav-author {% if page.url contains 'abraham' %} nav-current{% endif %}" role="presentation"><a href="{{ site.baseurl }}author/abraham">Abraham</a></li>
        <li class="nav-author {% if page.url contains 'martin' %} nav-current{% endif %}" role="presentation"><a href="{{ site.baseurl }}author/martin">Martin</a></li>
        <li class="nav-author {% if page.url contains 'lewis' %} nav-current{% endif %}" role="presentation"><a href="{{ site.baseurl }}author/lewis">Lewis</a></li>
        -->
    </ul>
    <a class="subscribe-button icon-feed" href="{{ site.baseurl }}feed.xml">Subscribe</a>
</div>
<span class="nav-cover"></span>
