---
layout: default
---
<div class="row">
    <div class="large-12 medium-12 small-12">
        <article>
            <header>
                <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%F" }}</time>
                <h1>{{ page.title }}</h1>
            </header>
            {{ content }}
        </article>
        <div class="large-12 medium-12 small-12">
            <h3 class="subheader">Related Posts</h3>
            <ul class="square">
                {% for post in site.related_posts limit:3 %}
                <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>



