---
layout: default
cover: 'assets/images/cover4.jpg'
class: 'tag-template'
navigation: true
logo: 'assets/images/logo.jpg'
current: tag
---

<!-- dynamically overriding backgrounds for tags as well as descriptions -->
{% if page.url contains 'java' %}
   {% assign tag_description='The best programming language ever invented.' %}
{% elsif page.url contains 'life' %}
   {% assign new_cover='assets/images/brown-landscape-under-grey-sky-3244513.jpg' %}
   {% assign tag_description='The search for meaning.' %}
{% elsif page.url contains 'mac' %}
   {% assign new_cover='assets/images/abstract-apple-art-black-and-white-434346.jpg' %}
   {% assign tag_description='Simplicity.' %}
{% elsif page.url contains 'military' %}
   {% assign new_cover='assets/images/vp-10.jpg' %}
   {% assign tag_description='We have met the enemy and they are ours. - Oliver Hazard Perry' %}
{% elsif page.url contains 'national-security' %}  
   {% assign new_cover='assets/images/AmericanFlagBanner.jpg' %}
   {% assign tag_description='We sleep safely at night because rough men stand ready to visit violence on those who would harm us." - Sir Winston Churchill' %}
   {% assign new_title='National Security' %}
{% elsif page.url contains 'web' %}
    {% assign new_cover='assets/images/spider-web-with-drops-of-water-1477835.jpg' %}
    {% assign tag_description='Web design...mystical voodoo.' %}
{% elsif page.url contains 'yoga' %}
    {% assign new_cover='assets/images/adventure-balance-balanced-balancing-7640.jpg' %}
    {% assign tag_description='Practice' %}
{% endif %}

<!-- default -->
<!-- The tag above means - insert everything in this file into the [body] of the default.hbs template -->

<!-- If we have a tag cover, display that - else blog cover - else nothing -->
<header class="main-header tag-head {% if page.cover %}" style="background-image: url({{ site.baseurl }}{% if new_cover %}{{ new_cover }}{% else %}{{ page.cover }}{% endif%}) {% else %}no-cover{% endif %}">
    <nav class="main-nav overlay clearfix">
        {% if page.logo %}<a class="blog-logo" href="{{ site.baseurl }}"><img src="{{ site.baseurl }}{{ page.logo }}" alt="Blog Logo" /></a>{% endif %}
        {% if page.navigation %}
            <a class="menu-button icon-menu" href="#"><span class="word">Menu</span></a>
        {% endif %}
    </nav>
    <div class="vertical">
        <div class="main-header-content inner">
            <h1 class="page-title">{% if new_title %}{{new_title}}{% else %}{{ page.tag | capitalize }}{% endif %}</h1>
            <h2 class="page-description">
            {% if tag_description %}
                {{ tag_description }}
            {% elsif page.tag %}
			    A {{ paginator.total_posts }}-post collection
            {% endif %}
            </h2>
        </div>
    </div>
</header>

<!-- The main content area on the homepage -->
<main id="content" class="content" role="main">

    <!-- The tag below includes the post loop - partials/loop.hbs -->
    {% include loop.html %}

</main>
